{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/c8bb737a64.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <title>Sighn-up</title>
    <link rel="icon" href="{% static 'logo/new logo.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style/sighn-up.css'%}" type="text/css">
</head>
<body>
  
<!--nav bar-->

    <div class="sticky-top">
        <div class="container-flex">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light" id="nav">
                <img width="50px" src="{% static 'images/logo.png'%}" alt="images">
                <a class="navbar-brand" href="{% url 'home' %}">Hospital</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'sighn' %}">sighn up</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                          </li> 
                        </ul>
                    </div>
            </nav>
        </div>
    </div>

<!--background div-->

<div style="background-image: url('{% static 'images/sighn-up.jpg'%}');" id="sighnup-head" class="container-fluid d-flex justify-content-center">
  <h1 id="sighn-h1">Sighn-up</h1>
</div>

<!--Sighn-up-->

<div class="container">
  <h3 id="con-h">sighn-up-here</h3>
  <form action="\accounts\signup\" method="POST">
    {% csrf_token %}
    <!--row one-->
    <div id="row-con" class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First-name" aria-describedby="fnameid" name="first_name" required>
          <small id="fnameid" class="form-text">Enter your first-name here</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="user-name" aria-describedby="lsnameid" name="username" required>
          <small id="lsnameid" class="form-text">Enter your username here</small>
        </div>
      </div>
    </div>
    <!--row two-->
    
    <!--row three-->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="email" aria-describedby="emailid" name="email" required>
          <small id="emailid" class="form-text">Enter your email address</small>
        </div>
      </div>
    </div>
    <!--row four-->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="password" aria-describedby="passid" name="psw" required>
          <small id="passid" class="form-text">Enter your password</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="confirm password" aria-describedby="conid" name="psw-repeat" required>
          <small id="conid" class="form-text">Re-enter your password</small>
        </div>
      </div>
    </div>
    <div id="div-btn">
      <button id="sub-btn" class="btn btn-light">Submit</button><br>
      <a id="log-link" href="{% url 'login' %}">already have an account??? | Login-here</a>
    </div>
  </form>
</div>

<!--Footer-->

<div id="foot" class="container-flex text-center">
  <div id="i_div">
    <span id="span-logo">
      <a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
      <a target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
      <a target="_blank" href="https://twitter.com/LOGIN"><i class="fab fa-twitter-square"></i></a>
      <a target="_blank"  href="https://www.youtube.com/"><i class="fab fa-youtube-square"></i><br></a>
    </span>
  </div>
  <p>All rights recived</p>
</div>
 
</body>
</html>